.displayNone {
    display: none;
}

.contact__container {
    @extend %flex-row-center;

    &-contact {
        margin: $margin;
        & > div,
        h2 {
            margin-bottom: $margin;
        }

        & > div {
            & > h3 {
                margin-bottom: $margin / 3;
            }

            & > p {
                @extend %flex-row-center;
                justify-content: flex-start;
                & > svg {
                    margin-right: $margin / 4;
                }
            }
        }
    }
}

.services {
    background-color: $backgroundColor;
    width: 100%;
    height: max-content;
    @extend %flex-row-center;
    & > div {
        width: 33.3%;
        min-height: 260px;
        padding: $padding * 3 0;
        color: $whiteColor;
        font-weight: 600;
        @extend %flex-column-center;
        background-color: $backgroundColor;
        & > p,
        h2,
        a {
            text-align: center;
            padding: $padding / 2;
        }
    }

    & > div:nth-child(even) {
        background-color: $secondary;
    }
}

.afiliaciones {
    background-color: $backgroundSection;
    padding: $padding * 4 $padding;
    @extend %flex-row-center;
    justify-content: space-evenly;
    & > div {
        width: 620px;
        height: 340px;
        padding: $padding;
        border-radius: $radius;
        margin-bottom: $margin;
        position: relative;
        overflow: hidden;
        @extend %flex-column-center;
        align-items: flex-start;
        justify-content: flex-start;
        & > figure {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: map-get($landscape, raiz);
        }

        & > div {
            z-index: map-get($landscape, content);
            height: 100vh;
            & > h1 {
                color: $thirsty;
                font-size: 2rem;
            }
            & > h3 {
                width: max-content;
                color: $whiteColor;
                margin: $margin 0;
                font-size: 1.3rem;
                font-weight: 500;
                border-bottom: 3px solid $thirsty;
            }

            & > p {
                color: $whiteColor;
                margin-bottom: 10px;
            }

            & > a {
                background-color: $thirsty;
                color: $blackColor;
                padding: $padding / 2;
                margin: $margin 0;
                border-radius: $radius;
                font-weight: bold;
                position: absolute;
                bottom: 40px;
            }
        }
    }
    & > div:nth-child(even) {
        & > div {
            & > h1 {
                color: $secondary;
                font-size: 2rem;
            }
            & > h3 {
                border-bottom: 3px solid $secondary;
            }
        }
    }
}

.global__section {
    width: 100%;
    margin: 0 auto;
    padding-bottom: $padding * 3;
    @extend %flex-row-center;
    align-items: flex-start;
    background-color: $whiteColor;
    position: relative;
    &-card {
        width: 420px;
        height: max-content;
        margin: $margin;
        overflow: hidden;
        cursor: pointer;
        & > div {
            width: 420px;
            height: 236px;
            position: relative;
            & > figure {
                @extend %position-absolute;
                transition: 0.1s;
            }

            & > svg {
                display: none;
                @extend %position-absolute;
                top: 50%;
                left: unset;
                right: 48%;
                bottom: 50%;
                color: $whiteColor;
            }
        }

        & > div:last-child {
            height: max-content;
            & > h2 {
                color: $primary;
            }
            & > h2,
            p {
                margin: $margin 0 $margin / 2 0;
                font-size: 1rem;
            }
            & > p {
                margin: $margin 0 0 0;
                font-size: 0.8rem;
                color: gray;
            }
        }
    }

    &-card:hover {
        & > div {
            & > figure {
                transform: scale(1.1);
                opacity: 0.7;
            }
            & > svg {
                display: initial;
            }
        }
    }

    & > a {
        position: absolute;
        color: $primary;
        bottom: 40px;
        right: $padding * 3;
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }
}

.newsletter__container {
    @extend %flex-column-center;
    background-color: $backgroundSection;
    padding: $padding * 4 0;

    & > h1 {
        color: $thirsty;
        font-style: italic;
        margin: $margin / 2;
    }
    & > form {
        width: 30%;
        @extend %flex-row-center;
        flex-wrap: nowrap;

        & > input {
            width: 100%;
            border: none;
            border-radius: $radius / 2;
            padding: $padding / 2.5;
            transition: 0.1s;
        }

        & > button {
            background-color: $primary;
            color: $whiteColor;
            padding: $padding / 2 $padding;
            border-radius: $radius / 2;
            font-weight: bold;
            margin: $margin;
        }

        & > input:focus {
            outline: none;
            border: 2px solid $primary;
        }
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: $primary;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
